<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://unpkg.com">
  <% if (vercel) { %>
  <script nonce="<%= nonce %>">
    window.si = window.si || function() {
      (window.siq = window.siq || []).push(arguments);
    };
    window.va = window.va || function() {
      (window.vaq = window.vaq || []).push(arguments);
    };
  </script>
  <script defer src="/_vercel/speed-insights/script.js"></script>
  <script defer src="/_vercel/insights/script.js"></script>
  <% } %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" type="text/css" href="/index.css" media="screen" />
</head>

<body>
  <div class="login-card">
    <h1>
      <%= title %>
    </h1>
    <%- body %>
    <div class="login-help">
      <a href="/interaction/<%= uid %>/abort">[ Cancel ]</a>
      <% if (client.tosUri) { %>
      <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
      <% } %>
      <% if (client.policyUri) { %>
      <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
      <% } %>
    </div>
  </div>
  <div class="grant-debug">
    <details>
      <summary>(Click to expand) DEBUG information</summary>
      <div>
        <strong>uid</strong>: <%= uid %>
      </div>

      <% if (session) { %>
      <div>
        SESSION <br>
        ========= <br>
        <%- session %>
      </div>
      <% } %>

      <div>
        PARAMS <br>
        ======== <br>
        <%- dbg.params %>
      </div>

      <div>
        PROMPT <br>
        ======== <br>
        <%- dbg.prompt %>
      </div>
    </details>
  </div>
</body>

</html>