<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/index.css" media="screen" />
    <script nonce="<%= nonce %>">
      window.va = window.va || function() {
        (window.vaq = window.vaq || []).push(arguments);
      };
    </script>
    <script nonce="<%= nonce %>" defer src="/_vercel/insights/script.js"></script>
    <script nonce="<%= nonce %>" type="module">
      import {
        getCLS,
        getFCP,
        getFID,
        getLCP,
        getTTFB
      } from 'https://unpkg.com/web-vitals@3?module';
  
      const vitalsUrl = 'https://vitals.vercel-analytics.com/v1/vitals';
  
      function getConnectionSpeed() {
        return 'connection' in navigator &&
          navigator['connection'] &&
          'effectiveType' in navigator['connection'] ?
          navigator['connection']['effectiveType'] :
          '';
      }
  
      function sendToAnalytics(metric, options) {
        const page = Object.entries(options.params).reduce(
          (acc, [key, value]) => acc.replace(value, `[${key}]`),
          options.path,
        );
        const body = {
          dsn: options.analyticsId, // qPgJqYH9LQX5o31Ormk8iWhCxZO
          id: metric.id, // v2-1653884975443-1839479248192
          page, // /blog/[slug]
          href: location.href, // https://{my-example-app-name-here}/blog/my-test
          event_name: metric.name, // TTFB
          value: metric.value.toString(), // 60.20000000298023
          speed: getConnectionSpeed(), // 4g
        };
  
        if (options.debug) {
          console.log('[Analytics]', metric.name, JSON.stringify(body, null, 2));
        }
  
        const blob = new Blob([new URLSearchParams(body).toString()], {
          // This content type is necessary for `sendBeacon`
          type: 'application/x-www-form-urlencoded',
        });
        if (navigator.sendBeacon) {
          navigator.sendBeacon(vitalsUrl, blob);
        } else
          fetch(vitalsUrl, {
            body: blob,
            method: 'POST',
            credentials: 'omit',
            keepalive: true,
          });
      }
  
      function webVitals(options) {
        try {
          getFID((metric) => sendToAnalytics(metric, options));
          getTTFB((metric) => sendToAnalytics(metric, options));
          getLCP((metric) => sendToAnalytics(metric, options));
          getCLS((metric) => sendToAnalytics(metric, options));
          getFCP((metric) => sendToAnalytics(metric, options));
        } catch (err) {
          console.error('[Analytics]', err);
        }
      }
      webVitals({
        analyticsId: '<%= analyticsId %>',
        params: {
          uid: '<%= uid %>'
        },
        path: ''
      })
    </script>
  </head>
  <body>
    <div class="login-card">
      <h1><%= title %></h1>
      <%- body %>
      <div class="login-help">
        <a href="/interaction/<%= uid %>/abort">[ Cancel ]</a>
        <% if (client.tosUri) { %>
          <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
        <% } %>
        <% if (client.policyUri) { %>
          <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
        <% } %>
      </div>
    </div>
    <div class="grant-debug">
      <details>
        <summary style="text-align: center;">(Click to expand) DEBUG information</summary>
        <div>
          <strong>uid</strong>: <%= uid %>
        </div>

        <% if (session) { %>
        <div>
          SESSION <br>
         ========= <br>
          <%- session %>
        </div>
        <% } %>

        <div>
          PARAMS <br>
         ======== <br>
          <%- dbg.params %>
        </div>

        <div>
          PROMPT <br>
         ======== <br>
          <%- dbg.prompt %>
        </div>
      </details>
    </div>
  </body>
</html>